<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

        <div id="app">
            <p>{{msg}}</p>
            <input v-model="msg">
        </div>
        <div id="app-2">
            <span v-bind:title="msg">
                鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>
        <div id="app-3">
            <p v-if="seen" v-on:click="dothis">点一下就隐藏</p>
        </div>

        <div id="app-7">
            <ol>
                <!--为每个todo-item提供todo对象，同时需要给每个组件提供一个"key"-->
                <todo-item v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"></todo-item>
            </ol>
        </div>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            msg:'heLlo vue'
        }
    })
    var app2 = new Vue({
        el:'#app-2',
        data: {
            msg: 'heLlo vue' + new Date().toLocaleString()
        }
    })
    var app3 = new Vue({
        el:'#app-3',
        data:{
            seen:true
        },
        methods:{
            dothis:function () {
                this.seen = false;
            }
        }
    })

    // 定义名为 to do-item 的新组件
    Vue.component("todo-item",{
        // to do-item 组件现在接受一个
        // "prop"，类似于一个自定义属性
        // 这个属性名为 to do。
        props: ['todo'],
        template:'<li>{{todo.text}}</li>'
    })

    var app7 = new Vue({
        el:'#app-7',
        data:{
            groceryList:[
                {id:0,text:'蔬菜'},
                {id:1,text:'苹果'},
                {id:2,text:'香蕉'},
            ]
        }
    })

</script>

</body>
</html>